{% extends 'base.html.twig' %}

{% block title %}Edit Apropos{% endblock %}

{% block body %}
    <h1>Edit Apropos</h1>

    {{ include('apropos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_apropos_index') }}">back to list</a>

    {{ include('apropos/_delete_form.html.twig') }}
{% endblock %}
