{% extends 'base.html.twig' %}

{% block title %}New Apropos{% endblock %}

{% block body %}
    <h1>Create new Apropos</h1>

    {{ include('apropos/_form.html.twig') }}

    <a href="{{ path('app_apropos_index') }}">back to list</a>
{% endblock %}
